
.topbar-container {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  /* border: 2px solid red; */
  color: grey;
 

}

.topbox2 {
    display: flex;
    gap: 10px;
    align-items: center;
}




